body {
  background: #111111;
  color: #bbbbbb;
  margin-top: 5rem;
}

.bg-steel {
  background-color: #222222;
}

.site-header .navbar-nav .nav-link {
  color: #bbbbbb;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.page-footer {
  color: #bbbbbb;
}

.foot-link {
  color: #bbbbbb;
  text-decoration: none;
}

.foot-link:hover {
  text-decoration: none;
  color: #ffffff;
}